body{
     padding: 0px;
     margin: 0px;

}

div.form-student, div.list-student{
    width: 650px;
    border: 1px solid #c888;
    margin: 25px;
    padding: 10px;
    float: left;
}

div.list-student{
    width: 650px;
}

div.form-student label{
    width: 100px;
    float: left;
}

div.form-student input[type="text"], button{
    margin-bottom: 10px;
    width: 200px;
    padding :5px;
}

.error{
    color: red;
}
